<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Vindo a Fab2022.2</title>
</head>
<body>
    <h1>Formulario Fab2022.2</h1>
    <form action="salvar_dados.php" method="post">
        Nome:<input type="text" placeholder="Digite aqui"><br/><br/>
        Email:<input type="e-mail" name="email" placeholder="Digite seu e-mail"><br/><br/>
        Senha:<input type="password" name="senha" placeholder="Digite sua Senha"><br/><br/>
        Data de Nascimento:<br>
        <input type="date" name="nascimento"><br/>
        <p>Selecione seu Turno:</p>
        <input type="radio" name="turno" value="Manhã">Manhã 
        <input type="radio" name="turno" value="Tarde">Tarde 
        <input type="radio" name="turno" value="Noite">Noite
        <p>Selecione seus Cursos:</p>
        <input type="checkbox">Python<br/> 
        <input type="checkbox">Django<br/>
        <input type="checkbox">JavaScrip<br/>
        <input type="checkbox">React.js<br/><br/>
        Nivel de Conhecimento:<br>
        <input type="range"><br/><br/>
        <input type="submit" value="Enviar">
        <input type="submit" value="Limpar">
        </form>
</body>
</html>